<a href="https://colab.research.google.com/github/ABRAHAM-AH/MeXEE-402_MEXE-4101_GROUP-3_Google-Colab-Activity/blob/main/Group%203_List%2C%20Tuples%2C%20Sets%20and%20Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists, Tuples, Sets and Dictionaries**

**GROUP 3 - ELECTIVES 2**

## **1) List**

In [1]:
#List - ordered sequence of elements, always uses [] to represent the list. Each item is seperated by ,.

food = ["pizza","burger","rice", "noodles"]
print(food)

['pizza', 'burger', 'rice', 'noodles']

In [2]:
print(food[0])

pizza

In [3]:
# to add element in list
food.append("cake")
print(food)

['pizza', 'burger', 'rice', 'noodles', 'cake']

In [4]:
food.append("sandwhich")
print(food)

['pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich']

In [5]:
food.extend(["sandwhich","pasta"])
print(food)

['pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich', 'sandwhich', 'pasta']

In [6]:
food.extend(["sandwhich","pasta"])
food

['pizza',
 'burger',
 'rice',
 'noodles',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta']

In [7]:
print(food*2)

['pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich', 'sandwhich', 'pasta', 'sandwhich', 'pasta', 'pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich', 'sandwhich', 'pasta', 'sandwhich', 'pasta']

In [8]:
food + ["coffee","tea"]
food

['pizza',
 'burger',
 'rice',
 'noodles',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta']

In [9]:
food = food + ["coffee","tea"]
food

['pizza',
 'burger',
 'rice',
 'noodles',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta',
 'coffee',
 'tea']

In [10]:
food[1:3]

['burger', 'rice']

In [11]:
food[3]= 'Sweet'
food

['pizza',
 'burger',
 'rice',
 'Sweet',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta',
 'coffee',
 'tea']

In [12]:
food.index('cake')

4

In [13]:
food.insert(3,'Paratha')
food

['pizza',
 'burger',
 'rice',
 'Paratha',
 'Sweet',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta',
 'coffee',
 'tea']

In [14]:
drinks = food.remove('tea')
print(drinks)

None

In [15]:
onlyfood = food.remove('tea')
print(onlyfood)

ValueError: ignored

In [16]:
xyz = food.remove("coffee")
print(xyz)

None

In [17]:
print(food)

['pizza', 'burger', 'rice', 'Paratha', 'Sweet', 'cake', 'sandwhich', 'sandwhich', 'pasta', 'sandwhich', 'pasta']

In [18]:
menu = ['pizza', 'burger', 'rice', 'noodles', 'icecream', 'juice']
print(menu)

['pizza', 'burger', 'rice', 'noodles', 'icecream', 'juice']

In [19]:
print('initial menu', menu)
menu.reverse()
print('reversed menu', menu)
print(type(reversed(menu)))

initial menu ['pizza', 'burger', 'rice', 'noodles', 'icecream', 'juice']
reversed menu ['juice', 'icecream', 'noodles', 'rice', 'burger', 'pizza']
<class 'list_reverseiterator'>

In [20]:
print('initial menu', menu)
menu.sort()
print('sorted menu',menu)

initial menu ['juice', 'icecream', 'noodles', 'rice', 'burger', 'pizza']
sorted menu ['burger', 'icecream', 'juice', 'noodles', 'pizza', 'rice']

In [21]:
del menu[-2]
menu

['burger', 'icecream', 'juice', 'noodles', 'rice']

In [22]:
print(menu[2:4])

['juice', 'noodles']

In [23]:
menu.remove(['juice','noodles'])
print(menu)

ValueError: ignored

In [24]:
print(menu)

['burger', 'icecream', 'juice', 'noodles', 'rice']

In [25]:
menu.remove('juice')
print(menu)

['burger', 'icecream', 'noodles', 'rice']

In [26]:
print(menu)

['burger', 'icecream', 'noodles', 'rice']

In [27]:
menu.remove('icecream','noodles')
print(menu)

TypeError: ignored

In [28]:
menu_2 = ['pizza','burger', 'rice', 'noodles','icecream']
print(menu_2)

['pizza', 'burger', 'rice', 'noodles', 'icecream']

In [29]:
menu_2.pop()

'icecream'

In [30]:
menu_2.clear()
print(menu_2)

[]

## **2) Tuples**

In [31]:
# Tuples - same as list, both contains sequence of items, mixed data types, and it contains individual elements also it is
# immutable, it represents by ().

empty = ()
print("empty tuple",empty)

empty tuple ()

In [32]:
# to create int tuple
int = (2,1,3,4,5)
print(int)

(2, 1, 3, 4, 5)

In [33]:
#mix tuple
mix = (4,"Python",4.2)
print(mix)

(4, 'Python', 4.2)

In [34]:
# nested tuple
nested = ('python', ["int","data","float"], 100)
print(nested)

('python', ['int', 'data', 'float'], 100)

In [35]:
str1 = "Python Prog",
print(str1)

('Python Prog',)

In [36]:
Country = ("USA", "China", "Philippine", "India")
print(Country)

('USA', 'China', 'Philippine', 'India')

In [37]:
Country[2]="Singapore"
print(Country)

TypeError: ignored

In [38]:
del Country[1]

TypeError: ignored

In [39]:
Country + ("Singapore","Japan")
print(Country)
Country1 = Country + ("Singapore","Japan")
print(Country1)

('USA', 'China', 'Philippine', 'India')
('USA', 'China', 'Philippine', 'India', 'Singapore', 'Japan')

In [40]:
Country1.count('China')

1

In [41]:
ex1 = ('a','p','y','t','h','o','n','a','y')
print(ex1.count('a'))

2

In [42]:
print(ex1.index('y'))

2

In [43]:
# to check an item available in tuple or not
print("Australia" in Country1)

False

In [44]:
print("Singapore" in Country1)

True

In [45]:
del Country1

In [46]:
print(Country1)

NameError: ignored

## **3) Sets**

In [47]:
# Sets - collection of items which are not in order
# but we cannot change the items in set but we can the add or remove
# Elements cannot be duplicated
# also there is no indexing or slicing
# useig {}, Union, Intersections, difference

In [48]:
temp = [['Mary',101,26],
        ['Alex',102,27]]
print(temp)

[['Mary', 101, 26], ['Alex', 102, 27]]

In [49]:
countries = {'USA', 'China', 'Philippine', 'India', 'Singapore', 'Japan'}
print(countries)
print(type(countries))

{'USA', 'Japan', 'India', 'China', 'Singapore', 'Philippine'}
<class 'set'>

In [50]:
print(len(countries))

6

In [51]:
# adding an element
countries.add("Germany")
print(countries)

{'Germany', 'USA', 'Japan', 'India', 'China', 'Singapore', 'Philippine'}

In [52]:
#deleting the element
countries.discard("Germany")
print(countries)

{'USA', 'Japan', 'India', 'China', 'Singapore', 'Philippine'}

In [53]:
# Other Sets Operations
country_1 = {'USA', 'China', 'India', 'Japan', 'Singapore', 'Philippine'}
country_2 = {"India",'Singapore','Germany','Indonesia'}
Setof_Country= country_1.union(country_2)
print(Setof_Country)

{'Germany', 'USA', 'China', 'Philippine', 'Japan', 'India', 'Singapore', 'Indonesia'}

In [54]:
print(country_1 | country_2)

{'Germany', 'USA', 'China', 'Philippine', 'Japan', 'India', 'Singapore', 'Indonesia'}

In [55]:
# intersection
print(country_1.intersection(country_2))

{'India', 'Singapore'}

In [56]:
print(country_1 & country_2)

{'India', 'Singapore'}

In [57]:
print(country_2.difference(country_1))
print(country_1.difference(country_2))

{'Germany', 'Indonesia'}
{'China', 'USA', 'Japan', 'Philippine'}

In [58]:
set_ex = {11,22,67,54}
output_set = 78 in set_ex
print(output_set)

False

In [59]:
output_set = 78 not in set_ex
print(output_set)

True

In [60]:
# Upfating the set
country_2 = {"India",'Singapore','Germany','Indonesia'}
update_set = {'Africa','Malaysia','India'}
country_2.update(update_set)
print(country_2)

{'Germany', 'India', 'Singapore', 'Malaysia', 'Africa', 'Indonesia'}

In [61]:
country_2.clear()
print(country_2)

set()

## **4) Dictionary**

In [62]:
# Dictionary - collection of elements, keys and values pair, key and value are separated by :.
# it is mutable and unordered,
# if we want to access the elements then we use key

In [63]:
emp_dict = {'Name':'john','age':25,'Dept':'sales'}
print(emp_dict)

{'Name': 'john', 'age': 25, 'Dept': 'sales'}

In [64]:
print(emp_dict['Name'])

john

In [65]:
emp_dict['age']=29
print(emp_dict['age'])

29

In [66]:
print(len(emp_dict))

3

In [67]:
key = emp_dict.keys()
print(key)

dict_keys(['Name', 'age', 'Dept'])

In [68]:
emp_dict

{'Name': 'john', 'age': 29, 'Dept': 'sales'}

In [69]:
emp_dict = {'Name':'john','age':25,'Dept':'sales','Dept': 'HR'}
print(emp_dict)

{'Name': 'john', 'age': 25, 'Dept': 'HR'}

In [70]:
print(type(emp_dict))

<class 'dict'>

In [71]:
emp = dict(name='Mary',age=25,id=101)
print(emp)

{'name': 'Mary', 'age': 25, 'id': 101}

In [72]:
v = emp.values()
print(v)
print(emp.items())
print()

dict_values(['Mary', 25, 101])
dict_items([('name', 'Mary'), ('age', 25), ('id', 101)])

In [73]:
# Nested Dictionary

Company = {'emp1':{'name':'Daniel','year':2018},
           'emp2':{'name':'Jimmy','year':2020},
           'emp3':{'name':'John','year':2022}}
print(Company)

{'emp1': {'name': 'Daniel', 'year': 2018}, 'emp2': {'name': 'Jimmy', 'year': 2020}, 'emp3': {'name': 'John', 'year': 2022}}

In [74]:
del emp['age']
print(emp)

{'name': 'Mary', 'id': 101}

In [75]:
print(emp.pop('id'))

101

In [76]:
emp.clear()

In [77]:
del emp
print(emp)

NameError: ignored

In [78]:
empName = Company['emp1']['name']
print(empName)

Daniel